:root{
    --primario: #6648B1;
    --secundario: #E882E8;
    --blanco: #FFFFFF;

    --fa-border-style: solid;
    --fa-border-radius: 2rem;
    --fa-border-width: .1rem;
    --fa-border-padding: .6rem;
    --fa-2xl: 3rem;

    --fuenteHeading: 'Poppins', sans-serif;
    --fuenteBody: 'Open Sans', sans-serif;
}

#enlacef, #enlacet, #enlacei{
    border-style: var(--fa-border-style);
    border-radius: var(--fa-border-radius);
    border-width: var(--fa-border-width);
    padding: var(--fa-border-padding);
    color: var(--blanco);
}

@media (min-width: 376px) {
    #enlacef, #enlacet, #enlacei{
        border-radius: 4rem;
        font-size: var(--fa-2xl);
    }
}

#enlacef:hover, #enlacet:hover, #enlacei:hover{
    cursor: pointer;
    color: var(--secundario);
}

html{
    font-size: 62.5%;
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}

body{
    font-family: var(--fuenteBody);
    font-size: 1.6rem;
    background-color: var(--primario);
    background-image: url(../images/bg-mobile.svg);
    background-repeat: no-repeat;
}

@media (min-width: 376px) {
    body{
        background-image: url(../images/bg-desktop.svg);
        background-attachment: fixed;
        background-size: cover;
    }
}

header{
    font-family: var(--fuenteHeading);
}

/**Globales**/
.contenedor{
    max-width: 144rem;
    width: 95%;
    margin: 0 auto;
}

a{
    text-decoration: none;
}

h1,p{
    line-height: 2.5rem;
}

h1{
    font-size: 2.6rem;
}

p{
    font-size: 1.55rem;
}

img{
    width: 100%;
}

/**Utilidades**/
.no-margin{
    margin: 0 !important;
}

.no-padding{
    padding: 0 !important;
}

.text-center{
    text-align: center !important;
}

.sombra{
    -webkit-box-shadow: 0px 1px 4px 0.2px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 1px 4px 0.2px rgba(0,0,0,0.75);
    box-shadow: 0px 1px 4px 0.2px rgba(0,0,0,0.75);
}

/**Heading**/
.header{
    padding-top: 3rem;
    padding-left: 3.5rem;
}

@media (min-width: 376px) {
    .header{
        padding-top: 2rem;
        padding-left: 6rem;
    }
}

.header__logo{
    width: 40%;
}

@media (min-width: 376px) {
    .header__logo{
        width: 20%;
    }
}

/**Principal**/
@media (min-width: 376px) {  
    .principal{
        margin: 0;
        display: grid;
        grid-template-columns: 1.7fr 1fr;
        padding-top: 4rem;
    }
}

.principal__imagen{
    padding: 6rem 3rem;
}

@media (min-width: 376px) {
    .principal__imagen{
        width: fit-content;
    }
}

.principal__texto{
    text-align: center;
    color: var(--blanco);
    padding-left: 3rem;
    padding-right: 3rem;
}

@media (min-width: 376px) {
    .principal__texto{
        text-align: left;
        padding-top: 10rem;
    }

    .principal__texto h1{
        font-size: 3.7rem;
    }
}

.boton{
    border-radius: 3rem;
    background-color: var(--blanco);
    border-style: none;
    padding: 1.3rem 7rem;
    color: var(--primario);
}

@media (min-width: 376px) {
    .boton{
        padding: 1rem 5.5rem;
    }
}

.boton:hover{
    cursor: pointer;
    background-color: var(--secundario);
    color: var(--blanco);
}

/**Footer**/
.footer{
    padding: 5rem 0rem;
}

@media (min-width: 376px) {
    .footer{
        padding: 0rem 3rem;
    }
}

.redes{
    display: flex;
    justify-content: center;
    gap: 1rem;
}

@media (min-width: 376px) {
    .redes{
        justify-content: flex-end;
    }
}